<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 900px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:first-child {
            width: 10px;
        }

        .books td:nth-child(5), td:nth-child(6){
            width: 70px;
        }

    </style>
    <script>

        function getAllBooks() {
        fetch("/api/v1/books")
          .then(response => response.json())
          .then(books => {
            const book_list = document.getElementById("book_list");
            if (book_list != null) {
                book_list.innerHTML = "";
                books.forEach(function (book) {
                    book_list.innerHTML += `
                            <tr id="row_book_${book.id}">
                                <td>${book.id}</td>
                                <td>${book.title}</td>
                                <td>${book.author.fullName}</td>
                                <td>${book.genre.name}</td>
<!--                                <td class="action">-->
<!--                                    <a href="/books/edit/${book.id}">Edit</a>-->
<!--                                </td>-->
                                <td class="button">
                                        <button type="button" style="margin-bottom: 20px; width: 100px; height:30px;">
                                            <a href="/books/edit/${book.id}">
                                                Edit book ${book.title}
                                            </a>
                                        </button>
                                </td>
                                <td>
                                    <button type="button" class="btn-link" onclick="bookDelete(${book.id})">
                                    Delete
                                    </button>
                                </td>
                            </tr>
                        `;
                });
            }
        })
          .catch(error => console.log('Произошла ошибка:', error));
        }

         document.addEventListener('DOMContentLoaded', getAllBooks(), false);

         function bookDelete(id) {
            if (id != null) {
                fetch('/api/v1/books/' + id, {method: 'DELETE'})
                    .then((response) => response.text())
                    .then((response) => {
                        window.location.replace("/books");
                    })
            }
        }
    </script>

</head>
<body>

<button type="button" style="margin-bottom: 20px; width: 100px; height:30px;">
    <a href="author-list.html" th:href="@{/authors}">
        Authors
    </a>
</button>

<button type="button" style="margin-bottom: 20px; width: 100px; height:30px;">
    <a href="genre-list.html" th:href="@{/genres}">
        Genres
    </a>
</button>

<!--<a href="author-list.html" th:href="@{/authors}">Authors</a>-->
<!--<a href="genre-list.html" th:href="@{/genres}">Genres</a>-->

<h3>Books:</h3>

<button type="button" style="margin-bottom: 20px; width: 100px; height:30px;">
    <a href="book-edit.html" th:href="@{/books/edit/0}">
        Add book
    </a>
</button>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="book_list">
    </tbody>
</table>
</body>
</html>


