<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add genre</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
        input:id {
        width: 500px;
        }

        .errors {
            color: red;
        }
    </style>
</head>
<body>
<form id="genre-add">
    <h3>Create new genre:</h3>

    <div class="row" hidden="hidden">
        <label for="id-genre">ID:</label>
        <input id="id-genre" style="width: 30px" type="text" readonly="readonly" name="id"/>
    </div>

    <div class="row">
        <label for="genre-name-input">Name:</label>
        <input id="genre-name-input" style="width: 300px" name="name" type="text"/>
    </div>

    <div class="row">
        <button type="button" onclick="saveGenres()" class="btn btn-success btn-lg">Save</button>
        <a href="genre-list.html" th:href="@{/genres}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

<script>
    function saveGenres() {
        const addGenreContainer = document.getElementById("genre-add")
        const id = document.getElementById("id-genre").value;
        const genreName = document.getElementById("genre-name-input").value;
        const genreDto = {id: id, name: genreName}

         fetch('/api/v1/genres', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(genreDto)
            })
         .then(response => window.location.replace('/genres'))

   }
</script>
</body>
</html>

