<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add book page</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 500px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>

</head>
<body>
<h3>Add book</h3>

<form class="edit-form"
      method="post"
      action="/book/new"
      th:method="post"
      th:object="${updateBook}"
      th:action="@{/book/new}">

    <div class="row">
        <label for="name-input">Title:</label>
        <input id="name-input" type="text" th:field="*{title}"/>
    </div>

    <div class="row">
        <label for="author-select">Select author</label>

        <select id="author-select" title="authors" th:field="*{authorId}">
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.fullName}"></option>
        </select>
    </div>

    <div class="row">
        <label for="genre-select">Select genre</label>
        <select name="genreName" id="genre-select" th:field="*{genreId}">
            <option th:each="genre : ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}">
            </option>
        </select>
    </div>

    <div class="row">
        <input type="submit" value="Submit">
        <a href="list.html" th:href="@{/book}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>
</body>
</html>